 <div class="block">
  <h2>Edit Product</h2>
    {{#each messages}}
        <div class="error">
            {{this}}
        </div>

    {{/each}}

    <form method="POST" action="/product/edit/{{productDocument._id}}/?_method=PUT">
        <div class="grid-container">
            <div class="grid">
                <label>Product Title</label>
            </div>
            
            <div class="grid">
                <input type="text" name="title" id="title" value="{{productDocument.title}}">
            </div>

            <div class="grid">
                <label>Product Price</label>
            </div>

            <div class="grid">
            <input type="text" name="price" id="price" value="{{productDocument.price}}">
            </div>

            <div class="grid">
                <label>Quantity on Hand</label>
            </div>
            
            
            <div class="grid">
                <input type="text" name="quantity" id="quantity" value="{{productDocument.quantity}}">
            </div>
            
            <div class="grid">
                <label>Product Description</label>
            </div>
            
            
            <div class="grid">
                <textarea id="description" name="description">{{productDocument.description}}</textarea>
            </div>

            
            <div class="grid"><label>Taxable</label></div>
            
            <div class="grid">
                <input type="radio" name="tax" id="yes" value="{{productDocument.tax}}" checked="{{ttrue}}"> Yes<br>
                <input type="radio" name="tax" id="NO" value="{{productDocument.tax}}" checked="{{ffalse}}"> No<br>
            </div>
            
        </div>

        <input type="submit" value="Update product">
    
    </form>
   
</div>
 
